      <!-- menu -->
      <div id="CourseMenu">
        <div class="list-group">
        <div class="list-group-item list-group-item-primary rounded-0"><a href="{% url 'course' course.id %}">{{ course.title }}</a> <a href="{% url 'course-note' course.id %}" class="ml-auto"><i class="fa fa-leaf text-muted"></i></a> </div>
          {% for coursepart in course.coursepart_set.all %}
              <a href="#_{{ coursepart.id }}" class="w-100 list-group-item list-group-item-secondary rounded-0" data-toggle="collapse" data-parent="#CourseMenu"> {{ coursepart.label }} : {{ coursepart.title|truncatechars:30}} <i class="fa fa-caret-down float-right"></i></a>
              <div class="collapse show" id="_{{ coursepart.id }}">
              {% for courseelement in coursepart.courseelement_set.all %}
                  <a href="{% url 'course-element' course.id coursepart.sequence courseelement.sequence %}" class="list-group-item rounded-0"> {{ courseelement.title }} {% if courseelement == course_element %} <i class="text-success fa fa-dot-circle-o"></i> {% endif %}</a>
              {% endfor %}
              </div>
          {% endfor %}
        </div>
      </div>