{% extends 'layouts/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/sheet.css' %}">
{% endblock %}
{% block title %} {{ folder.name }} {% endblock %}
{% block content %}
    <div class="base-container">
        <div class="row">
            <div class="col-md-3">
                {% include 'includes/components/navs/folder_editor_nav.html' with folder=folder %}
                <a href="{%  url 'new-folder-sheet' folder.id %}" class="float-right badge badge-success m-3"> <i class="fa fa-plus"></i></a>
            </div>
            <div class="col-md-9">
                {% include 'includes/components/sheet.html' with sheet=folder.sheet_set.first %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {% include 'includes/components/sheet_script.html' with item=mooc_course_item %}
{% endblock %}