{% extends 'layouts/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/sheet.css' %}">
{% endblock %}
{% block title %} {{ folder.name }} {% endblock %}
{% block content %}
    {% include 'includes/components/modals/create_folder.html' with parent_id=folder.id %}
    <div class="base-container">
        <div class="row">
            <div class="col-md-3">
                {% include 'includes/components/navs/folder_editor_nav.html' with folder=folder %}
            </div>
            <div class="col-md-9">
                {% include 'includes/components/sheet.html' with sheet=folder.sheet_set.first %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {% include 'includes/components/sheet_script.html' with item=mooc_course_item %}
{% endblock %}