{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} {{ folder.name }} {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/tiny.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
        {% include 'includes/components/modals/create_folder.html' with parent_id=folder.id %}
            <div class="col-12">
                <h1 class="text-center text-uppercase mb-4"> {{ folder.name }}
                    <a href="{%  url 'new-folder-sheet' folder.id %}" class="float-right badge badge-success"> <i class="fa fa-plus"></i></a>
                    <button type="button" class="btn float-right badge badge-primary mx-2" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-plus"></i></button>
                </h1>
            </div>
            <a href="{% url 'folder' folder.parent.id %}">
                    <div class="text-center card-body">
                             ../  <i class="fa fa-arrow-left"></i>
                    </div>
            </a>
            {% for folder in  folder.folder_set.all %}
                <div class="col-md-3 col-lg-2">
                    {% include 'includes/components/tiny/folder_tiny.html'  with folder=folder %}
                </div>
            {% endfor %}
            {% for sheet in  folder.sheet_set.all %}
                <div class="col-md-3 col-lg-2">
                    {% include 'includes/components/tiny/sheet_tiny.html'  with sheet=sheet %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
    <script src="{% static 'axios/dist/axios.min.js' %}"></script>
    <script src="{% static 'js/tiny.js' %}"></script>
{% endblock %}