{% extends 'layouts/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <link rel="stylesheet" href="{% static 'css/sheet.css' %}">
{% endblock %}
{% block title %} {{ school_course_item.title }} {% endblock %}
{% block content %}
    <div class="base-container">
    <div class="row">
        <div class="col-md-3">
            {% include 'includes/components/navs/school_course_nav.html' with school_course=school_course_item.schoolcourse_set.first %}
        </div>
        <div class="col-md-9">
             {% include 'includes/components/item.html' with item=school_course_item %}
            <form action="{% url 'check-item' school_course_item.id %}" method="post">
                {% csrf_token %}
                 <button class="float-right my-3 btn {% if school_course_item.completed %} {{ ' btn-secondary ' }} {% else %} {{ ' btn-info ' }}{% endif %}" >{% if not school_course_item.completed %} <i class="fa fa-check text-success"></i>  {{ 'Mark as completed' }} {% else %} <i class="fa fa-undo"></i> {{ ' Unmark as completed ' }}{% endif %}</button>
             </form>
        </div>
        </div>
    </div>
{% endblock %}
{% block script %}
            {% include 'includes/components/item_script.html' with item=school_course_item %}
{% endblock %}
