{% extends 'layouts/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <link rel="stylesheet" href="{% static 'css/tiny.css' %}">
{% endblock %}
{% block title %} Welcome {% endblock %}
{% block content %}
    <div class="container">
        {% include 'includes/folder_content.html' with folder=root_folder %}
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
    <script src="{% static 'axios/dist/axios.min.js' %}"></script>
    <script src="{% static 'js/tiny.js' %}"></script>
{% endblock %}