{% extends 'layouts/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <link rel="stylesheet" href="{% static 'css/tiny.css' %}">
{% endblock %}
{% block title %} Welcome {% endblock %}
{% block content %}
    <div class="container">
        <div class="course-container row">
            <div class="col-12">
                <h1> Cours disponibles
                    <small>({{ courses.all.count }})</small>
                    <button type="button" class="btn float-right badge badge-info" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-plus"></i></button>
                </h1>
            </div>
            {% for course in courses %}
                        <div class="col-md-4">
                            {% include 'includes/components/tiny/tiny_course.html' with course=course %}
                        </div>
            {% endfor %}
        </div>
        <hr>
        <div class="folder-container row">
            {% include 'includes/components/modals/create_folder.html' with parent_id=1 %}
            <div class="col-12">
                <h1> Dossiers
                    <small>({{ folders.all.count|default:0 }})</small>
                    <button type="button" class="btn float-right badge badge-primary" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-plus"></i></button></h1>
            </div>

            {% for folder in  folders %}
                <div class="col-lg-2 col-md-3">
                    {% include 'includes/components/tiny/tiny_folder.html' with folder=folder %}
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="sheet-container  row">
            <div class="col-12">
                <h1> Feuilles libres
                    <small>({{ free_sheets|length|default:0 }})</small>
                    <a href="{% url 'new-folder-sheet' 1 %}" class="float-right badge badge-success"><i class="fa fa-plus"></i>
                    </a></h1>
            </div>
            {% for sheet in  free_sheets %}
                <div class="col-lg-2 col-md-3">
                    {% include 'includes/components/tiny/tiny_sheet.html' %}
                </div>
            {% endfor %}
        </div>
    <hr>
        <div class="file-container  row">
            {% include 'includes/components/modals/add_folder_files.html' with folder_id=1 %}
            <div class="col-12">
                <h1> Fichiers
                    <small>({{ file_items.count|default:0 }})</small>
                    <button type="button" class="btn float-right badge badge-secondary" data-toggle="modal"
                            data-target="#addFileModal"><i class="fa fa-plus"></i></button>
                </h1>
            </div>
            {% for file_item in file_items %}
                <div class="col-lg-3 col-md-4">
                    {% include 'includes/components/tiny/tiny_file.html' with file_item=file_item %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
    <script src="{% static 'axios/dist/axios.min.js' %}"></script>
    <script src="{% static 'js/tiny.js' %}"></script>
{% endblock %}