{% extends 'pages/folder.html' %}
{% block quick_access %}
    <div class="quick-access-container row">
            <div class="col-12">
                <h1> Accès rapide <small><i class="fa fa-rocket"></i></small>
                </h1>
            </div>
            {% for sheet in quick_access %}
                <div class="col-md-2">
                    {% include 'includes/components/tiny/tiny_recent_sheet.html' with sheet=sheet %}
                </div>
            {% endfor %}
        </div>
    <hr>
{% endblock %}