{% load filename %}
{% load iconclass %}
<section>
    <h2 class="text-muted">Ressources liées au cours </h2>
        {% for course_resource_set in course_resource_sets %}
            <h3> &rarr; {{course_resource_set.title}}</h3>
            <ul>
            {% for resource in course_resource_set.resource_set.all %}
                <li>
                    <a href="{{ resource.link }}"><i class="fa {{ resource.link|iconclass}}"></i> {{ resource.title }}</a><br>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
</section>