{% load static %}
<script src="{% static 'marked/lib/marked.js' %}"></script>
<script>
    {% for content in item.content_set.all  %}
        {% if content.markdowncontent %}
            let text{{ content.markdowncontent.id }} = '{{ content.markdowncontent.text }}'
            text{{ content.markdowncontent.id }} = marked(text{{ content.markdowncontent.id }})
            document.getElementById('id_{{ content.markdowncontent.id }}').innerHTML = text{{ content.markdowncontent.id }}
        {% endif %}
    {% endfor %}
</script>