{% load static %}
<script src="{% static 'marked/lib/marked.js' %}"></script>
<script src="{% static 'vue/dist/vue.min.js' %}"></script>
<script src="{% static 'js/sheet.js' %}"></script>
{% include 'includes/components/vuejs/templates.html' %}
<script>

    function getBase64Image(img) {
        var canvas = document.createElement("canvas")
        canvas.width = img.width
        canvas.height = img.height

        var ctx = canvas.getContext("2d")
        ctx.drawImage(img, 0, 0)

        var dataURL = canvas.toDataURL("image/png")

        return dataURL.replace(/^data:image\/(png|jpg);base64,/, "")
    }

    /* TODO Remove this line in production mode */
    // Enabling devtools
    Vue.config.devtools = true


    Vue.component('sheet-title', {
        template: "#sheet-title",
        props: ['title', 'editable'],
        data: function () {
            return {
                editMode: false,
                mTitle: this.title,
            }
        },
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.editMode = !this.editMode
            }
        },
    })
    Vue.component('markdown-content', {
        template: "#markdown-content",
        props: ['content', 'editable'],
        data: function () {
            return {
                text: this.content.text,
            }
        },
        computed: {
            html: function () {
                return marked(this.text)
            }
        },
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.content.editMode = !this.content.editMode
            }
        },
    })

    Vue.component('video-content', {
        template: "#video-content",
        props: ['content', 'editable'],
        data: function () {
            return {
                title: this.content.title,
                video: this.content.video
            }
        },
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.content.editMode = !this.content.editMode
            },
            updateVideo: function () {
                let inputId = 'input-'+this.content.id
                let input = document.getElementById(inputId)
                if (input.files && input.files[0]){
                    let reader = new FileReader()
                    reader.onload = (e)  => {this.video = e.target.result}
                    reader.readAsDataURL(input.files[0])
                }
            }
        },
    })

    Vue.component('audio-content', {
        template: "#audio-content",
        props: ['content', 'editable'],
        data: function () {
            return {
                title: this.content.title,
                audio: this.content.audio
            }
        },
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.content.editMode = !this.content.editMode
            },
            updateAudio: function () {
                let inputId = 'input-'+this.content.id
                let input = document.getElementById(inputId)
                if (input.files && input.files[0]){
                    let reader = new FileReader()
                    reader.onload = (e)  => { this.audio = e.target.result;}
                    reader.readAsDataURL(input.files[0])
                }
            }
        },
    })

    Vue.component('image-content', {
        template: "#image-content",
        props: ['content', 'editable'],
        data: function () {
            return {
                title: this.content.title,
                image: this.content.image,
            }
        },
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.content.editMode = !this.content.editMode
            },
            updateImage: function () {
                let inputId = 'input-'+this.content.id
                let input = document.getElementById(inputId)
                if (input.files && input.files[0]){
                    let reader = new FileReader()
                    reader.onload = (e)  => { this.image = e.target.result;}
                    reader.readAsDataURL(input.files[0])
                }
            }
        },
    })

    let vue = new Vue({
        el: "#sheet",
        data: {
            title: "",
            contents: [],
            editMode: false,
        },
        methods: {
            toggleMode() {
                this.editMode = !this.editMode
                if(!this.editMode)
                    this.saveSheet()
            },
            deleteContent(id) {
                this.contents = this.contents.filter((content) => {
                    console.log("Deleting the content of id =  " + content.id)
                    return content.id !== id
                })
            },
            addVideoContent() {
                let videoContent = new VideoContent(this.lastInsertedId + 1, '')
                this.contents.push(videoContent)
            },
            addAudioContent() {
                let audioContent = new AudioContent(this.lastInsertedId + 1, '')
                this.contents.push(audioContent)
            },
            addImageContent() {
                let imageContent = new ImageContent(this.lastInsertedId + 1, '')
                this.contents.push(imageContent)
            },
            addMarkdownContent() {
                let markdownContent = new MarkdownContent(this.lastInsertedId + 1, '')
                this.contents.push(markdownContent)
            },
            clearSheet(){
                    this.contents = []
            },
            saveSheet(){
                // TODO this function should submit the json object
                let sheet = new Sheet(this.title, this.contents)
                localStorage.setItem('sheet', JSON.stringify(sheet))
            }

        },
        computed: {
            lastInsertedId() {
                let lastIndex = this.contents.length - 1
                return lastIndex > -1 ? this.contents[lastIndex].id : 0
            }
        },
        beforeMount() {
            this.title = `{{ sheet.title }}`
            let text = ""
            let counter = 0

            {% for content in sheet.content_set.all  %}
                counter = {{ forloop.counter }}
                    {% if content.videocontent %}
                        this.contents.push(new VideoContent(counter, `{{ content.videocontent.title }}`, `{{ content.videocontent.video.url }}`))
                    {% elif content.audiocontent %}
                        this.contents.push(new AudioContent(counter, `{{ content.audiocontent.title }}`, `{{ content.audiocontent.audio.url }}`))
                    {% elif content.imagecontent %}
                        this.contents.push(new ImageContent(counter, `{{ content.imagecontent.title }}`, `{{ content.imagecontent.image.url }}`))
                    {% elif content.markdowncontent %}
                        text = `{{ content.markdowncontent.text|safe }}`
                        this.contents.push(new MarkdownContent(counter, text))
                    {% endif %}
            {% endfor %}
        }
    })
</script>