<div id="sheet">
    {% include 'includes/components/menus/sheet.html' %}
    <div class="container sheet-component">
            {% verbatim %}
            <sheet-title v-bind:title="title" v-bind:editable="editMode"></sheet-title>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div v-for="content in contents">
                        <video-content v-if="content instanceof VideoContent"
                                       v-bind:editable="editMode" v-bind:content="content"></video-content>
                        <audio-content v-else-if="content instanceof AudioContent"
                                       v-bind:editable="editMode" v-bind:content="content"></audio-content>
                        <image-content v-else-if="content instanceof ImageContent"
                                       v-bind:editable="editMode" v-bind:content="content"></image-content>
                        <markdown-content v-else-if="content instanceof MarkdownContent"
                                          v-bind:editable="editMode" v-bind:content="content">
                        </markdown-content>
                        <hr>
                    </div>
                </div>
            </div>
            {% endverbatim %}
    </div>
</div>