.sheet-component{
    border: 1px solid #cccccc;
    background-color: white;
    padding: 2rem 2rem;
    box-shadow: .0rem .1rem .1rem rgba(0,0,0,.1);
    border-radius: 5px;
}
.sheet.toolbar{
    position: relative;
    right: 1rem;
    top: .5rem;
}
.sheet.toolbar .btn-group i.fa.fa-plus{
    transform: translateY(3px) translateX(6px);
}
.sheet.toolbar .btn-group i{
    font-size: 1.1rem;
    color: grey;
}
.sheet.toolbar .btn-group button{
    all: unset;
    margin-bottom: 1rem;
    background-color: transparent;
    border:none;
}
.sheet.toolbar .btn-group button:hover{
    transform: scale(1.1);
}
.sheet.toolbar .btn-group button:hover i{
    color: #007bff;
}
.sheet.toolbar .btn-group i + i{
    font-size: 1.5rem;
}
.sheet.toolbar .mode{
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: 100%;
}
.sheet.toolbar .mode i{
    font-size: 1.8rem;
    color: #007bff;
}
.sheet.toolbar .separator{
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: lightgrey;
}

h1 > input{
    display: inline-block;
    width: 100%;
    padding: .2rem;
}
textarea{
    width: 100%;
    min-height: 5rem;
    padding: .4rem;
}
.col-1 .fa.fa-trash{
    font-size: 1.1rem;
    color: #dc3545;
}