<nav aria-label="breadcrumb">

    <ol class="breadcrumb">
        {% for ascendant in folder.ascendants %}
            <li class="breadcrumb-item">
                <a href="{% url 'folder' ascendant.id %}">
                    {% if ascendant.id == 1 %}
                        <i class="fa fa-home"></i>
                    {% else %}
                        {{ ascendant.name }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">
                {{ folder.name }}
        </li>
            <a href="{% url 'folder-editor' folder.id sheets.first.id %}"
               class="ml-auto"> <i class="fa fa-th-list"></i></a>
    </ol>
</nav>