<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/save_course/" method="post">
    {% csrf_token %}
  <input  type="radio" name="type" id="mooc" value="mooc">
  <label class="form-check-label" for="mooc">Mooc</label>
  <input type="radio" name="type" id="school" value="school">
  <label for="school">School</label><br>
  <label for="title">Title </label><input id="title" type="text" name="title"><br>

    <label for="instructor">Instructor</label>
    <select name="instructor" id="instructor">
        {% for instructor in instructors %}
            <option value="{{ instructor.id  }}">{{ instructor.title }}</option>
        {% endfor %}
</select>
    <hr>
    <h2>For School courses</h2>
    <label for="year">Année scolaire </label><input id="year" type="number" name="year"><br>
    <label for="semester">Semestre N°</label><input id="semester" type="text" name="semester"> <br>
    <input type="submit">
</form>
</body>
</html>