{% extends 'layouts/base.html' %}
{% block title %} {{ folder.name }} {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-uppercase mb-4"> {{ folder.name }}
                    <a href="" class="float-right badge badge-secondary"> <i class="fa fa-plus"></i></a>
                    <a href="" class="float-right badge badge-success mx-2"> <i class="fa fa-plus"></i></a>
                </h1>
            </div>
            <div class="col-md-2 mb-0">
                <a href="{% url 'folder' folder.parent.id %}">
                    <div class="card mb-3">
                        <div class="text-center card-body">
                             .. <i class="fa fa-arrow-left"></i>
                        </div>
                    </div>
                </a>
            </div>
            {% for folder in  folder.folder_set.all %}
                <div class="col-md-2 mb-0">
                    {% include 'includes/components/tiny/folder.html'  with folder=folder %}
                </div>
            {% endfor %}
            {% for sheet in  folder.sheet_set.all %}
                <div class="col-md-2 mb-0">
                    {% include 'includes/components/tiny/sheet.html'  with sheet=sheet %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}