{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} {{ mooc_course_item.title }} {% endblock %}
{% block content %}
    <div class="base-container">
    <div class="row">
        <div class="col-md-3">
        {% include 'includes/components/navs/mooc_course.html' with mooc_course=mooc_course_item.week_set.first.mooc_course mooc_course_item=mooc_course_item%}
        </div>
         <div class="col-md-9 bg-light p-4">
             {% include 'includes/components/item.html' with item=mooc_course_item %}
        </div>
        </div>
    </div>
{% endblock %}
{% block script %}
            {% include 'includes/components/item_script.html' with item=mooc_course_item %}
{% endblock %}