{% extends 'layouts/base.html' %}
{% block title %} Welcome {% endblock %}
{% block content %}
    <div class="container">
    <h1 class="text-center text-uppercase mb-4"> Tous les cours disponibles</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
        <h2 class="text-center">Moocs</h2>
            {% for mooc_course in  mooc_courses %}
                <ol>
                    <li>
                        <a href="{% url 'mooc-course' mooc_course.id %}">{{ mooc_course.title }}</a><br>
                        <small class="text-muted ">{{ mooc_course.week_set.all |length }} semaines</small>
                    </li>
                </ol>
            {% endfor %}
        </div>
        <div class="col-md-6">
             <h2 class="text-center">Cours académiques</h2>
            {% for school_course in  school_courses %}
                <ol>
                    <li>
                        <a href="{% url 'school-course' school_course.id %}">{{ school_course.title }}</a><br>
                        <small class="text-muted">{{ school_course.item_set.all |length }} items</small>
                    </li>
                </ol>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
