{% extends 'layouts/base.html' %}
{% block title %} Welcome {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-uppercase mb-4"> cours disponibles</h1>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Moocs</h2>
                {% for mooc_course in  mooc_courses %}
                    <ol>
                        <li>
                            <a href="{% url 'mooc-course' mooc_course.id %}">{{ mooc_course.title }}</a><br>
                            <small class="text-muted ">{{ mooc_course.week_set.all |length }} semaines</small>
                        </li>
                    </ol>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Cours académiques</h2>
                {% for school_course in  school_courses %}
                    <ol>
                        <li>
                            <a href="{% url 'school-course' school_course.id %}">{{ school_course.title }}</a><br>
                            <small class="text-muted">{{ school_course.item_set.all |length }} items</small>
                        </li>
                    </ol>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-uppercase mb-4"> Dossiers</h1>
            </div>

            {% for folder in  folders %}
                <div class="col-md-2 ">
                    {% include 'includes/components/tiny/folder.html' with folder=folder %}
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-uppercase mb-4"> Vrac</h1>
            </div>
            {% for sheet in  free_sheets %}
                <div class="col-md-2 mb-0">
                    {% include 'includes/components/tiny/sheet.html' %}
                </div>
            {% endfor %}
        </div>
        <hr>
    </div>

{% endblock %}
