<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1> {{ courses | length }} Cours disponibles</h1>
    {% for course in  courses %}
        <div>
            <h1>{{ course.title }}</h1>
             Ce cours a {{ course.week_set.all |length}}semaines
            {% for week in  course.week_set.all %}
                <div>
                    <h2>{{ week.title }}</h2>
                     Cette semaine a {{ week.item_set.all | length}} éléments
                     {% for item in  week.item_set.all %}
                        <div>
                            <h3>{{ item.title }}</h3>
                             {% for content in  item.content_set.all %}
                                {% if content.videocontent %}
                                    <div>
                                    {{ content.videocontent.title }}
                                    <video width="320" height="240" controls>
                                      <source src="{{ content.videocontent.video.url }}" type="video/mp4">
                                    </video>
                                    </div>
                                   {% elif content.imagecontent  %}
                                    <div>
                                    {{ content.imagecontent.title }}
                                        <img src="{{ content.imagecontent.image.url }}" alt="">
                                    </div>
                                    {% elif content.markdowncontent  %}
                                    <div>
                                        <textarea name="" id="" cols="30" rows="10">
                                            {{ content.markdowncontent.text }}
                                        </textarea>
                                    </div>
                                {% endif %}
                            {% endfor %}


                        </div>
                    {% endfor %}

                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <a href="/add_course" > Ajouter un cours</a>
    <a href="/add_instructor" > Ajouter un intructeur</a>

</body>
</html>