{% verbatim %}
<template id="image-content">
     <div class="row" v-if="editable && content.editMode">
       <div class="col-11">
            <figure class="figure text-center">
                <img v-bind:src="content.image" v-bind:width="content.displayWidth*100 + '%'"
                 v-bind:alt="content.title">
                <div class="mb-2 justify-content-around w-100">
                    <input v-bind:id="'input-' + content.id" type="file" v-on:change="updateImage">
                    <label v-bind:for="'display-width-input' + content.id">Width : </label><input v-bind:id="'image-display-width-input' + content.id" type="number" v-model="content.displayWidth">
                </div>
            <figcaption
                    class="figure-caption text-center">
                <label>Title : </label> <input v-on:keyup.ctrl.enter="toggleMode" v-model="content.title" type="text">
            </figcaption>
        </figure>
       </div>
        <div class="col-1" v-if="editable && content.editMode"><i v-on:click="$emit('delete', content.id)" class="fa fa-trash"></i></div>
    </div>
    <div v-else v-on:dblclick="toggleMode" class="d-flex justify-content-center">
        <figure class="figure text-center">
            <img v-bind:src="content.image" v-bind:width="content.displayWidth*100 + '%'"
                 v-bind:alt="content.title">
            <figcaption
                    class="figure-caption text-center">{{content.title }}
            </figcaption>
        </figure>
    </div>
</template>
{% endverbatim %}