{% verbatim %}
<template id="markdown-content">
    <div class="row" v-if="editable && content.editMode">
       <div class="col-11">
            <textarea v-on:keyup.ctrl.enter="toggleMode"  @keydown.ctrl.83.prevent="$emit('save')" v-model="content.text" rows="1"
        onfocus='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
        oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
            placeholder="Write something..."></textarea>
            <!-- oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
     makes the text area automatically resize itself to fit its content -->
       </div>
        <div class="col-1" v-if="editable && content.editMode"><i v-on:click="$emit('delete', content.id)" class="fa fa-trash"></i></div>
    </div>


    <div class="markdown-display" v-else v-on:dblclick="toggleMode" v-html="html"></div>
</template>
{% endverbatim %}