{% verbatim %}
<template id="video-content">
    <div class="row" v-if="editable && content.editMode">
        <div class="col-11">
            <figure class="figure">
                <video width="100%" controls>
                    <source v-bind:src="content.video" type="video/mp4">
                </video>
                <input v-bind:id="'input-' + content.id" type="file" v-on:change="updateVideo">
                <figcaption
                        class="figure-caption text-center">
                    <input v-on:keyup.ctrl.enter="toggleMode" v-model="content.title" type="text">
                </figcaption>
            </figure>
        </div>
        <div class="col-1" v-if="editable && content.editMode"><i v-on:click="$emit('delete', content.id)"
                                                          class="fa fa-trash"></i></div>
    </div>
    <div v-else v-on:click="toggleMode" class="d-flex justify-content-center">
        <figure class="figure">
            <video width="100%" controls>
                <source v-bind:src="content.video" type="video/mp4">
            </video>
            <figcaption
                    class="figure-caption text-center">{{ content.title }}
            </figcaption>
        </figure>
    </div>
</template>
{% endverbatim %}