<!-- initially hidden right-click menu -->
<div class="hide rmenu" id="smenu_{{ sheet.id }}">
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action"><a href="#changeSheetTitleModal_{{ sheet.id }}" data-toggle="modal" data-target="#changeSheetTitleModal_{{ sheet.id }}"> <i class="fa fa-edit"></i> &nbsp;Change title</a></li>
        <li class="list-group-item list-group-item-action"><a href="#moveSheetModal_{{ sheet.id }}" data-toggle="modal" data-target="#moveSheetModal_{{ sheet.id }}"> <i class="fa fa-arrows"></i> &nbsp; Move sheet</a></li>
        <li class="list-group-item list-group-item-action"><form action="{% url 'delete-sheet' sheet.id %}" method="post">
            {%  csrf_token %}
            <button role="submit" class="rmenu-action text-danger"><i class="fa fa-trash"></i> &nbsp; Delete sheet</button>
        </form>
    </ul>
</div>